.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(2px) grayscale(80%);
    display: grid;
    place-items: center;
    z-index: 9999;
}

.modal--content {
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
    gap: 16px;
    background-color: rgba(0,0,0,0.4);
}

.modal button {
  border: 1px solid black;
  border-radius: 9999px;
  background-color: white;
  padding: 4px 8px;
  cursor: pointer;
}
.modal button:hover {
  box-shadow: 0 0 10px 2px white;
}