.app {
  width: 100%;
  min-height: 100dvh;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 10dvh 30px 1fr 10dvh;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 800px) {
  .app {
    width: 60%;
  }
}

path {
  transition: fill 0.6s;
}

.app-card {
  height: 80%;
  margin: auto;
  position: relative;
}
.app-card .card:hover {
  cursor: pointer;
}

.app-card h2 {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: text-shadow 0.3s, box-shadow 0.3s;
}
.app-card h2:hover,
.app-card h2:active {
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 10px 4px rgba(255, 255, 255, 0.6);
}
